.custom-jumbotron {
    height: 20vh;
}

.search-section {
    margin-top: 1rem;
    padding: 0rem 1rem;
}

.search-section .title {
    font-weight: 600;
    letter-spacing: 1px;
    color: #000000ad;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.searchbar-container {
    border: none;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.searchbar-container .input-container {
    flex: 1;
    height: 3rem;
    margin-right: 1rem;
}

.jobs-container {
    min-height: 70vh;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}

.controls-container {
 
}

.controls-container>div {
    margin-left: auto;
}

.controls-container svg {
    width: 1rem;
    margin-left: 1rem
}

.controls-container svg path {
    fill: white;
}

.job-card-item:not(:nth-child(2)) {
    width: 100%;
    margin-top: 2.5rem;
}

.job-card-item img {
    object-fit: cover;
    height: 15rem;
    width: 100%;
    border-radius: 5px;
}

.job-card-item .job-title {
    color: var(--primaryColor);
    font-weight: 500;
    font-size: 1.15rem;
    margin-top: 0.6rem;
}

.job-card-item .job-date {
    color: #0000008a;
    font-weight: 400;
    display: flex;
    justify-content:space-between
}

.job-card-item .job-date .more-info{
    font-weight: 400;
    color: var(--primaryColor);
    text-decoration: underline;
}