* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 16px;
}

:root {
    --primaryColor: #0b1e46;
    --accentColor: #05aab0;
}

/*link style*/

a {
    color: var(--primaryColor);
}

a:hover {
    color: var(--accentColor);
}

/*button style*/

.btn-primary {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    border-radius: 0px;
}

.btn-primary:hover {
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    border-radius: 0px;
}

/*infos header styles */

.header-infos {
    width: 100%;
}

/*lading page styles*/

/*jumbotron styles*/

.custom-jumbotron {
    background-image: url("../assets/jumbotron-background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-position-y: 100%;
    letter-spacing: 1px;
}

nav {
    display: flex;
    align-items: center;
}

.custom-jumbotron .navbar-brand {
    padding-left: 4rem;
}

.custom-jumbotron .navbar-brand svg {
    width: 6.9rem;
}

.custom-jumbotron .navbar-nav .btn {
    margin-left: 2.7rem;
}

.custom-jumbotron .navbar-nav .nav-link {
    color: white;
    margin-left: 2.7rem;
    transition: all ease-in .2s;
}

.custom-jumbotron .navbar-nav .nav-link:hover {
    color: var(--accentColor);
    margin-left: 2.7rem;
}

.custom-jumbotron .message-jumbotron {
    width: 100%;
    height: 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5.8rem;
}

.custom-jumbotron .message-jumbotron .btn.btn-outline-primary {
    margin-top: 1rem;
    padding: 0.9rem 1.8rem;
    color: white;
    border-color: white;
    border-radius: 50px;
    transition: all ease-in .2s;
}

.custom-jumbotron .message-jumbotron .btn.btn-outline-primary svg {
    width: 1.4rem;
    margin-left: 0.5rem;
}

.custom-jumbotron .message-jumbotron .btn.btn-outline-primary svg path {
    fill: white;
}

.custom-jumbotron .message-jumbotron .btn.btn-outline-primary:hover {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
}

.custom-jumbotron .message-jumbotron span {
    font-size: 3.4rem;
    color: white;
    font-weight: 500;
    display: block;
}

.custom-jumbotron .message-jumbotron span.colored-text {
    color: var(--primaryColor);
    margin-top: -1rem;
}

.custom-jumbotron .statistics-container {
    padding-right: 1.8rem;
    height: 26%;
}

.custom-jumbotron .statistics {
    width: 32%;
    height: 62%;
    display: flex;
    background-color: var(--primaryColor);
    color: white;
    justify-content: space-evenly;
}

.custom-jumbotron .statistics .custom-divider {
    border: 1px solid #ffffff47;
    height: 48%;
    margin-top: auto;
    margin-bottom: auto;
}

.custom-jumbotron .statistics>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-jumbotron .statistics>div .number {
    font-weight: 500;
    font-size: 1.8rem;
}

.custom-jumbotron .statistics>div .label {
    font-size: 0.8rem;
}

/*presentation styles*/

.presentation-container {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0rem 5.8rem;
}

.presentation-container .image {
    width: 35%;
}

.presentation-container .image img {
    width: 100%;
}

.presentation-container .description {
    width: 65%;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation-container .description .title, .proceed-section .title-container .title {
    color: var(--primaryColor);
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}

.presentation-container .description .title::after, .proceed-section .title-container .title::after {
    content: '';
    position: absolute;
    left: 40.7%;
    bottom: -0.5rem;
    width: 2.6rem;
    height: 4px;
    background-color: var(--primaryColor);
}

.presentation-container .description .details {
    padding: 2rem 4rem;
}

.presentation-container .description .details>div:nth-child(1) {
    font-size: 1.1rem;
    text-align: justify;
}

.presentation-container .description .details span {
    color: var(--primaryColor);
    font-weight: 700;
}

.presentation-container .description .details .btn {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

/*features section styles */

.features-section {
    height: 60vh;
    background-color: #0b1e460d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.features-section .feature-card {
    background-color: white;
    width: 20%;
    height: 80%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-card svg {
    width: 40%;
    height: fit-content;
}

.feature-card .title {
    font-weight: 500;
    letter-spacing: 0.3px;
    color: var(--primaryColor);
    margin-top: 0.7rem;
}

.feature-card:nth-child(2) .title {
    color: #05AAB0;
}

.feature-card:nth-child(3) .title {
    color: #627D56;
}

.feature-card .description {
    text-align: center;
    padding: 0.2rem 1.3rem;
}

/*proceed section*/

.proceed-section {
    height: 50vh;
    padding: 3rem 5.8rem;
}

.proceed-section .title-container .title::after {
    left: 0%;
}

.proceed-section>div>div {
    height: 100%;
}

 .searchbar-container {
    width: 80%;
    height: 75%;
    border: 1px solid #00000014;
    border-radius: 4px;
    padding: 1rem;
}

 .input-container {
    background-color: #dedede3b;
    border-radius: 2px;
    height: 35%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

 .input-container input {
    border: none;
    background-color: transparent;
    height: 80%;
    width: -webkit-fill-available;
}

 .input-container input:focus {
    outline: none;
}

 .searchbar-container .search-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

 .searchbar-container .search-button-container .btn {
    border-radius: 5px;
}

 .searchbar-container .search-button-container .btn svg {
    width: 1.4rem;
    height: 1.8rem;
}

 .searchbar-container a {
    text-decoration: underline;
}

/*footer styles*/

.footer {
    height: 25vh;
    background-color: var(--primaryColor);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .custom-jumbotron .navbar-brand {
        padding-left: 0rem;
    }
    .navbar-toggler {
        width: 4rem;
        height: 3.5rem;
        padding: 0rem;
    }
    .navbar-toggler-icon {
        width: 100%;
        height: 100%;
    }
    .navbar-toggler-icon svg {
        width: 3.7rem;
    }
    span.colored-text {
        color: white!important;
        background-color: var(--primaryColor);
        width: fit-content;
        padding: 0rem 0.5rem;
        margin-top: 0.4rem!important;
    }
    .custom-jumbotron .message-jumbotron {
        padding-left: 1.8rem;
    }
    .custom-jumbotron .statistics-container {
        padding-right: 0rem;
        align-items: flex-end!important;
    }
    .custom-jumbotron .statistics {
        width: 100%;
        transform: translateY(-40%);
    }
    .presentation-container {
        flex-direction: column;
        margin-top: 6rem;
        padding: 0rem 1.4rem;
        height: 100vh;
    }
    .presentation-container .image {
        width: 90%;
    }
    .call-to-scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 3.8rem 0rem 0rem 0rem;
    }
    .call-to-scroll svg {
        width: 2.5rem;
    }
    .presentation-container {
        flex-direction: column-reverse;
        padding-bottom: 1.5rem;
    }
    .presentation-container .description .details {
        padding: 0rem;
        margin-top: 2rem;
    }
    .presentation-container .description {
        width: 100%;
        height: 48%;
    }
    .presentation-container .image {
        margin-top: 0.5rem;
    }
    .features-section {
        flex-direction: column;
        height: 130vh;
        padding: 2rem 0rem;
    }
    .features-section .feature-card {
        width: 80%;
        margin-top: 1.5rem;
    }
    .proceed-section {
        height: 60vh;
        padding: 3rem 2.2rem;
    }
    .proceed-section .searchbar-container {
        width: 100%;
        height: 100%;
    }
    .proceed-section .input-container {
        height: 45%;
    }
    .proceed-section .title-container>div:nth-child(2) {
        height: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}